* {
    margin: 0;
    padding: 0px;
}

header {
    /* Background color */
    background: #c8c8c8;
    background-size: cover;
    padding: 0 90px;
    width: 86vw;
    height: 90vh;
}

body {
    background-color: white;
}


/*Menubar*/

.checkbtn {
    font-size: 30px;
    color: #000;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


/*LOGO*/

Label {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 30px;
    color: black;
}


/*MENUS*/

nav {
    width: 90%;
    justify-content: space-between;
    height: 70px;
    line-height: 70px;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}

nav ul {
    list-style: none;
    float: right;
    display: flex;
}

nav li a {
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
}

nav ul li a {
    color: #000;
    font-family: 'Hellix';
}


/**TEXTO 1**/

h1 {
    font-family: Hellix;
    justify-content: left;
    font-size: 35px;
    margin: 100px 2px 25px;
    padding: 0 7px;
}

h2 {
    font-family: Hellix;
    justify-content: center;
    font-size: 42px;
    margin: 100px 2px 20px;
    padding: 0 65px;
}

span {
    color: #175dfc;
}

p {
    font-family: 'hellix';
    font-size: 25px;
    font-size-adjust: none;
    text-align: justify;
    padding: 2px 10px;
}

img {
    position: auto;
    width: 400px;
    margin-top: -230px;
    padding-left: 650px;
}


/**Botão**/

#boto {
    margin-top: -130px;
}

.botao {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: #1145c0;
    border-radius: 35px;
    padding: 16px 30px;
    margin: 10px 60px;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

.botao:hover {
    background-color: #4e83ff;
    color: aliceblue;
}


/**SECÇÃO**/

section .showcase {
    background-color: blanchedalmond;
}


/**FOOTER**/

footer {
    background-color: #175dfc;
    height: auto;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    text-align: center;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: #0c2b72;
}

.footer-botton {
    background-color: #0c2b72;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-botton p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
}

.footer-botton span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


/* Responsividade*/

@media (max-width: 945px) {}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #175dfc;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a:active {
        background: none;
        color: #E8E7E7;
    }
    #check:checked~ul {
        left: 0;
    }
    h1 {
        font-size: 15;
    }
}